/*Importación de fonts*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --primary-color: #0582ca;
  --secondary-color: #006494;
  --accent-color: #F1F3F5;
  --text-color: #051923;
  --font-size: 24px;
  --font-poppins: "Poppins", sans-serif;
  --font-pixel: 'Press Start 2P', 'cursive';
}

body {
  background-color: #F8F9FA;
  font-family: var(--font-poppins);
  color: var(--text-color);
}

/*Diseño del header*/
.header {
  width: 100%;
  padding: 1.2rem 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #555;
  background-color: white;
  z-index: 1000;
}

.header__logo-container {
  display: flex;
  gap: 10px;
}

.header__logo-link {
  display: flex;
  align-items: center;
}

.header__logo-link:hover {
  animation: heartbeat 1.4s ease-in-out infinite;
}

@keyframes heartbeat {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }
}

.header__logo-image {
  width: 100px;
}

.header__title {
  font-family: var(--font-pixel);
  font-size: 16px;
}

.header__title strong {
  color: #E53935;
}

.header__nav {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: end;
}

/*Estilos para el input de búsqueda*/
.header__search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--accent-color);
  border: none;
  padding: 0.2rem 0.9rem;
  border-radius: 40px;
}

.header__search-input {
  width: 90%;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0.5rem 1rem;
}

.header__search-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/*Estilos para el botón de cambiar el tema*/
.header__theme-toggle,
.header__login,
.header_cars {
  padding: 0.4rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.mobile-search {
  border-radius: 4px;
}

/* Estilos para el formulario */
.mobile-search form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 500px;
  background-color: var(--accent-color);
  border-radius: 50px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

/* Estilos para el input */
.mobile-search input[type="text"] {
  width: 85%;
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  background-color: transparent;
  /* Fondo transparente */
  outline: none;
  color: var(--text-color);
  /* Color del texto */
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

/* Efecto de foco en el input */
.mobile-search input[type="text"]:focus {
  background-color: rgba(255, 255, 255, 0.8);
  /* Cambio sutil de fondo al enfocar */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Pequeña sombra cuando se enfoca */
}


.mobile-search button[type="submit"] {
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 50px;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Efecto hover en el botón */
.mobile-search button[type="submit"]:hover {
  background-color: var(--secondary-color);
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}



.header_cars {
  position: relative;
  /* Posiciona el contador en relación al botón del carrito */
  display: flex;
  align-items: center;
  border: 2px solid transparent;
}

.header_cars:hover {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.header_cars:hover svg path {
  fill: var(--primary-color);
}

.cart-count {
  position: absolute;
  top: -8px;
  /* Ajusta la posición según sea necesario */
  right: -8px;
  background-color: #E53935;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__menu {
  display: flex;
  gap: 10px;
}

.header__login {
  min-width: max-content;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  padding: 0.4rem;
  color: #fff;
  background-color: #2563EB;
  transition: all 0.4s;
}

.header__login:hover {
  transform: translate(0, -4px);
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3);
}

/* Toggle del menú (botón para móviles) */
.header__menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.header__menu--active {
  display: flex;
}

.search-icon {
  display: none;
}


/*Estilos para el banner de promociones*/
.banner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 600px;
}

.banner__images {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

.banner__image {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.banner__image.active {
  opacity: 1;
}

.banner__button-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.banner__button {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.banner__button:hover {
  background-color: var(--secondary-color);
}


/*estilos para la seccion productos*/

.products {
  padding: 12% 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products_title {
  font-family: var(--font-pixel);
  margin-bottom: 4rem;
}

.products__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

.card {
  width: 356px;
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  max-width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  /* Hace que la imagen se adapte al contenedor manteniendo las proporciones */
}

.card-container--info {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-container--name {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text-color);
}

.card-container--description {
  font-size: 0.9rem;
  color: var(--text-color);
}

.card-container--value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.card-container--price {
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
}

.card-container--discount {
  font-size: 0.85rem;
  color: #f44336;
}

.card-container--actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.card-container--availability {
  color: #4caf50;
  font-weight: bold;
}

.card-container--add-to-cart {
  background-color: #ff5722;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-container--add-to-cart:hover {
  background-color: #e64a19;
}

.card-container--delete {
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: none;
}

/*Estilos para el footer*/
.footer {
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--text-color);
  color: var(--accent-color);
}

.footer__logo-container {
  display: flex;
  align-items: center;
  font-family: var(--font-pixel);
}

.footer__title strong {
  color: #E53935;
}

.footer__credits {
  font-size: 1.2rem;
}

/*Estilos para la pagina de admin*/

.admin-page {
  align-items: start;
}

.admin-page_products {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.admin-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.admin-page__title {
  font-family: var(--font-pixel);
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

/* Estilos generales */
.admin-page__form {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.admin-page__label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #333333;
}

.admin-page__input,
.admin-page__textarea {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  font-size: 1rem;
  color: #333333;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.admin-page__input:focus,
.admin-page__textarea:focus {
  border-color: #4caf50;
  box-shadow: 0 0 8px rgba(76, 175, 80, 0.3);
  outline: none;
}

.admin-page__textarea {
  resize: vertical;
  min-height: 100px;
}

.admin-page__buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.admin-page__button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.admin-page__button--add {
  background-color: #4caf50;
  color: #ffffff;
}

.admin-page__button--clear {
  background-color: #f44336;
  color: #ffffff;
}

.admin-page__button:hover {
  transform: translateY(-2px);
}

.admin-page__button--add:hover {
  background-color: #43a047;
}

.admin-page__button--clear:hover {
  background-color: #e53935;
}

/* Estilos de la lista de productos */

.admin-page__subtitle {
  font-family: var(--font-pixel);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 1rem;
}

.admin-page__product-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.admin-page__product-item {
  padding: 1rem;
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.admin-page__product-name,
.admin-page__product-price,
.admin-page__product-description {
  font-size: 1rem;
  color: #333333;
}

.admin-page__product-name span,
.admin-page__product-price span,
.admin-page__product-description span {
  font-weight: 600;
  color: #4caf50;
}

.admin-page__button--edit,
.admin-page__button--delete {
  margin-top: 0.5rem;
  width: 100px;
  font-size: 0.9rem;
}

.admin-page__button--edit {
  background-color: #2196f3;
  color: #ffffff;
}

.admin-page__button--edit:hover {
  background-color: #1976d2;
}

.admin-page__button--delete {
  background-color: #f44336;
  color: #ffffff;
}

.admin-page__button--delete:hover {
  background-color: #e53935;
}

/* Posicionamiento de botones en fila */
.admin-page__product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-page__product-info {
  flex-grow: 1;
}

.admin-page__buttons {
  display: flex;
  gap: 0.5rem;
}


/* Estilos básicos para el modal */
#login-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 300px;
  width: 90%;
}

.close-button {
  float: right;
  font-size: 1.5rem;
  cursor: pointer;
}


/*Estilos para tamaño tablet*/
@media(max-width: 1024px) {
  .header {
    flex-direction: row;
    gap: 1.2rem;
  }

  .header__search-form {
    display: flex;
  }
}

/*Estilos para tamaño móvil*/
@media(max-width: 820px) {
  .header {
    flex-direction: row;
    align-items: center;
  }

  .header__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: var(--accent-color);
    padding: 1rem;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
  }

  .header__menu--active {
    display: flex;
  }

  .header__menu-toggle {
    display: block;
    font-size: 24px;
  }

  .header__search-form {
    display: none;
  }

  .mobile-search {
    display: none;
    margin: 0 auto;
    position: fixed;
    top: 82px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }

  .search-icon {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
  }

  .mobile-search form {
    max-width: 100%;
  }
}

@media(max-width: 390px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .mobile-search {
    top: 142px;
  }
}

/* Estilo para la clase activa */
.header__menu.active {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

/*Estilos para la modal del carrito*/
.hidden {
  display: none;
}

.cart-modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  color: var(--text-color);
}

.cart-modal__content {
  padding: 20px;
}

.cart-modal__close {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}


/* Estilos del tema oscuro */
.dark-theme {
  background-color: #16191D;
  color: #fff;
}

.dark-theme .header {
  background-color: var(--text-color);
}

.dark-theme .card-container--name {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--accent-color);
}

.dark-theme .card-container--description {
  font-size: 0.9rem;
  color: var(--accent-color);
}


.dark-theme .card-container--price {
  font-size: 1.2rem;
  color: var(--accent-color);
  font-weight: bold;
}